html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.container {
  max-width: 1840px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  line-height: 1.3;
  background-color: #F8F8F8;
}

.header {
  background: url('../images/header-bg.jpg')center center/cover no-repeat;
  min-height: 100vh;
  padding: 50px 0 53px 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 50px; */
}

.menu__btn {
  width: 70px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__btn span {
  background-color: #FF5017;
  display: block;
  height: 3px;
  width: 100%;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: calc(100vh - 135px);
}

.header__content h1 {
  font-size: 345px;

  background: linear-gradient(180deg, #000000 0%, #830B02 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  padding-left: 150px;
  line-height: .8;

}

.header__content h2 {
  font-size: 160px;

  background: linear-gradient(90deg, #FF5017 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  align-self: flex-end;
  padding-right: 75px;
}

.header__images {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  margin: auto;
}

.info{
  padding: 170px 0;
}

.info__title {
  text-align: center;
  line-height: .8;
  font-size: 160px;
  text-transform: uppercase;
  color: #13171c;
}

.info__img {
  max-width: 100%;
  margin: 0 auto;
}

.info__content {
  display: flex;
  margin-bottom: 170px;
  padding-left: 155px;
  padding-right: 100px;
  gap: 94px;
}

.info__list {
  column-count: 2;
  gap: 109px;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #13171c;
}

.info__list dd,
.info__list dt {
  display: inline-block;
}

.info__list__line {
  margin-bottom: 22px;
}

.price {
  font-weight: 900;
  font-size: 46px;
  text-transform: uppercase;
  color: #13171c;
}

.order {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  margin-top: 40px;
  text-transform: uppercase;
  color: #13171c;

  padding: 30px 60px;
  background: linear-gradient(180deg, #ff5017 0%, #ff6837 100%);
}

.info--gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px ;
  border-radius: 20px;
}

.info--gallery img {
  max-width: 100%;
}

.color__text {
  margin-bottom: 70px;
  text-align: center;
  font-size: 160px;
  text-transform: uppercase;
  color: #13171c;
}

.color__galler {
  background: #13171c;
}

.color__galery__start,
.color__galery__end {
  width: 100%;
  margin: 0 auto;
}

.gallery__box {
  padding: 170px 50px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.gallery__box img {
  border-radius: 20px;
  max-width: 100%;
}

.gallery__box p {
  margin-top: 20px;
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
}

.contacts {
  padding: 170px 0 114px 0;
  background: #13171c;
}

.contacts__title {
  margin-bottom: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #ff5017;
  font-size: 36px;
}

.contacts__box {
  display: flex;
  justify-content: space-between;
  gap: 40px 200px;
  padding-left: 300px;
  padding-right: 150px;
}

.contacts__info {
  max-width: 565px;
}

.contacts__headtext {
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
  color: #bcbcbc;
}

.contacts__text {
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 477px;
  font-size: 24px;
  color: #fff;
}

.contacts__info a {
  font-size: 24px;
  color: #fff;
}

.contacts__text__rules {
  max-width: 329px;
  margin-top: 77px;
  font-size: 14px;
  color: #fff;
}

.form {
  flex-basis: 594px;
}

.form__input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  max-width: 594px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;

}

.form__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fff;
}

.form__order {
  width: 100%;
}

.footer {
  text-align: center;
  background: #13171c;
  padding-bottom: 87px;
}

.footer__link {
  font-size: 14px;
  color: #fff;
}